body {
   margin: 0;
   font-family: "Inter", serif;
   background-color: #181818;
}

/* -------------------  LOGIN ------------------- */

.login-headbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 60px;
}

.headbar-title {
   font-size: 2rem;
   font-weight: 600;
   color: #fff;
}

.title-complement {
   font-size: 2rem;
   font-weight: 600;
   color: #7ab8ff;
}

.login-box {
   width: 400px;
   margin: 50px auto;
   padding: 30px;
   background-color: #202020;
   border-radius: 10px;
   color: #fff;
   text-align: center;
}

.login-box input {
   width: 80%;
   padding: 12px 15px;
   margin: 10px 0;
   background-color: #3c3c3e;
   border: 1px solid #616161;
   border-radius: 7px;
   color: #fff;
   font-size: 0.9rem;
   box-sizing: border-box;
}

.login-box input:focus {
   border-color: #7ab8ff;
   outline: none;
}

.login-box input::placeholder {
   color: #aaa;
}

.login-box button {
   width: 80%;
   padding: 12px;
   margin: 20px 0;
   background-color: #7ab8ff;
   border: none;
   border-radius: 7px;
   color: #ffffff;
   font-size: 1rem;
   cursor: pointer;
}

.login-box button:hover {
   background-color: #5a9ae6;
}

.login-box p {
   margin: 15px 0;
   font-size: 0.9rem;
   opacity: 0.7;
}

.login-box .switch {
   background-color: #727272;
   color: #ffffff;
   border: none;
   padding: 10px;
   border-radius: 7px;
   cursor: pointer;
}

.login-box .switch:hover {
   background-color: #5a5a5a;
}

/* -------------------  MARKDOWN HELP ------------------- */

.markdown-help {
   max-width: 400px !important;
   width: 90% !important;
}

.markdown-instructions {
   text-align: left;
   max-height: 300px;
   overflow-y: auto;
   padding: 0 20px;
}

.markdown-instructions code {
   background-color: #313131;
   padding: 2px 6px;
   border-radius: 4px;
   font-family: monospace;
}

.markdown-instructions ul {
   list-style-type: none;
   padding: 0;
}

.markdown-instructions li {
   margin: 20px 0;
   color: #e0e0e0;
   line-height: 1.5;
}

.markdown-instructions .example {
   display: block;
   color: #7ab8ff;
   font-size: 0.9rem;
   margin-top: 4px;
   font-style: italic;
}

.markdown-instructions br {
   margin-bottom: 4px;
}

/* -------------------  DIALOG ------------------- */

.dialog-register-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   display: flex;
   justify-content: center;
   align-items: center;
}

.dialog-register-box {
   background: #202020;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   text-align: center;
   max-width: 350px;
   width: 90%;
}

.dialog-register-box h3 {
   margin: 0 0 10px;
   color: #fff;
}

.dialog-register-box p {
   margin: 0 0 20px;
   color: #aaa;
}

.dialog-register-box button {
   padding: 10px 20px;
   background: #7ab8ff;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
   font-size: 0.9rem;
}

.dialog-register-box button:hover {
   background: #5a9ae6;
}

/* -------------------  SIDEBAR ------------------- */

.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 300px;
   background-color: #202020;
   color: #fff;
   padding-top: 60px;
   z-index: 1;
}

.note-title {
   font-size: 2rem;
   font-weight: 600;
   color: #ffffff;
   margin: 0px;
   display: inline-block;
   text-align: center;
   width: 100%;
}

.it-title {
   font-size: 2rem;
   font-weight: 600;
   color: #7ab8ff;
   display: inline-block;
}

.button-new-note {
   background-color: #7ab8ff;
   color: #ffffff;
   border: none;
   padding: 23px 87px;
   margin: 60px auto 0 auto;
   cursor: pointer;
   border-radius: 7px;
   display: block;
   text-align: center;
   font-size: 1.2rem;
   font-weight: 600;
}

.button-new-note:hover {
   background-color: #5a9ae6;
}

.button-new-task {
   background-color: #313131;
   border: 0.1px solid #414141;
   color: #ffffff;
   padding: 15px 93px;
   margin: 20px auto 0 auto;
   cursor: pointer;
   border-radius: 7px;
   display: block;
   text-align: center;
   font-size: 1rem;
   font-weight: 600;
}

.button-new-task:hover {
   background-color: #2c2c2c;
}

.divider {
   border: none;
   height: 1px;
   background-color: #414141;
   margin: 30px auto;
   width: 85%;
}

/* Tasks */

.tasks-title {
   font-size: 0.9rem;
   font-weight: 600;
   color: #ffffff;
   margin: 10px 0;
   display: inline-block;
   text-align: center;
   width: 70%;
   opacity: 0.6;
}

.tasks-container {
   max-height: calc(100vh - 200px);
   overflow-y: auto;
   overflow-x: hidden;
   padding-right: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.dialog-register-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   display: flex;
   justify-content: center;
   align-items: center;
}

.dialog-newtask-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #202020;
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   width: 20%;
}

.task-input-container {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   margin-top: 10px;
}

.task-input {
   font-family: "Inter", serif;
   width: 100%;
   height: 80px;
   padding: 15px;
   background-color: #3c3c3e;
   border: 1px solid #616161;
   border-radius: 7px;
   color: #fff;
   font-size: 0.9rem;
   box-sizing: border-box;
   text-align: left;
   vertical-align: top;
   resize: none;
   outline: none;
}

.button-task-input-add {
   padding: 9px 20px;
   background-color: #7ab8ff;
   border: none;
   border-radius: 7px;
   color: #ffffff;
   font-size: 0.9rem;
   cursor: pointer;
   margin-left: 10px;
}

.button-task-input-cancel {
   padding: 9px 10px;
   background-color: #616161;
   border: none;
   border-radius: 7px;
   color: #ffffff;
   font-size: 0.9rem;
   cursor: pointer;
   margin-left: 10px;
}

.button-task-input-add:hover {
   background-color: #5a9ae6;
}

.button-task-input-cancel:hover {
   background-color: #4e4e4e;
}

.tasks-container {
   opacity: 0.8;
}

.no-tasks {
   font-size: 0.8rem;
   font-weight: 600;
   color: #ffffff;
   text-align: center;
   margin-top: 50px;
}

.task-item {
   opacity: 0.8;
   background-color: #292929;
   border: 0.1px solid #414141;
   color: #ffffff;
   margin: 7px;
   padding: 8px;
   border-radius: 7px;
   font-size: 0.9rem;
   font-weight: 0;
   width: 75%;
   display: flex;
   align-items: center;
   gap: 10px;
   white-space: pre-wrap;
   word-wrap: break-word;
   overflow-wrap: break-word;
   max-width: 70%;
   word-break: break-word;
   line-height: 1;
   position: relative;
}

.task-icon {
   font-size: 14px;
   color: #fff;
}

.delete-task-icon {
   background: none;
   border: none;
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   color: transparent;
   cursor: pointer;
   opacity: 1;
}

.task-item:hover .delete-task-icon {
   color: #fff;
   opacity: 1;
}

.task-icon-button {
   color: #fff;
   font-size: 10px;
   background: none;
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.task-completed {
   opacity: 0.3;
}

/* -------------------  TOPBAR ------------------- */
.topbar {
   position: fixed;
   top: 0;
   right: 0;
   height: 160px;
   width: calc(100% - 370px);
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 0 50px;
}

.topbar-buttons {
   display: flex;
   justify-content: flex-end;
   gap: 20px;
}

.topbar-simple-button {
   background-color: #181818;
   color: #ffffff;
   border: none;
   cursor: pointer;
   font-size: 0.9rem;
   font-weight: bold;
   opacity: 80%;
   padding: 10px 15px;
   border-radius: 5px;
}

.topbar-simple-button:hover {
   background-color: #2c2c2c;
}

.topbar-profile-button {
   background-color: #292929;
   color: #ffffff;
   border: 1px solid #7ab8ff;
   font-size: 0.9rem;
   font-weight: bold;
   padding: 10px 15px;
   border-radius: 5px;
   opacity: 90%;
}

.bottom-sidebar {
   position: fixed;
   bottom: 0;
   left: 0;
   height: 100px;
   width: 300px;
   background-color: #202020;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0.7;
}

.clear-tasks-button {
   position: block;
   font-family: Inter;
   background-color: #313131;
   color: #ffffff;
   border: none;
   padding: 10px 20px;
   margin: 10px;
   cursor: pointer;
   border-radius: 5px;
   font-size: 0.8rem;
}

.help-button {
   position: block;
   font-family: Inter;
   color: #ffffff;
   background: none;
   border: none;
   padding: 10px 20px;
   margin: 10px;
   cursor: pointer;
   border-radius: 7px;
   font-size: 1rem;
}

.help-container {
   display: flex;
   align-items: center;
}

.help-container i {
   margin-right: 8px;
}

.clear-tasks-button:hover {
   background-color: #2c2c2c;
}

/* -------------------  LIBRARY ------------------- */

.library-container {
   display: fixed;
   padding: 80px 50px 0 350px;
   overflow: hidden;
}

.library-content {
   display: flex;
   flex-direction: column;
   margin: 50px 50px;
   gap: 40px;
}

.folders-section,
.notes-section {
   background-color: #202020;
   border-radius: 10px;
   padding: 20px;
   width: 100%;
   height: 250px;
   overflow-y: auto;
}

.folders-section h2,
.notes-section h2 {
   color: #fff;
   font-size: 1.2rem;
   margin: 0 0 20px 0;
}

.notes-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 20px;
   margin: 10px 40px;
}

.note-card {
   background-color: #292929;
   border: 1px solid #414141;
   border-radius: 7px;
   padding: 15px;
   cursor: pointer;
}

.note-card:hover {
   border-color: #7ab8ff;
}

.note-card-title {
   color: #fff;
   font-size: 1.1rem;
   font-weight: 500;
   margin-bottom: 10px;
}

.note-card-preview {
   color: #aaa;
   font-size: 0.9rem;
   line-height: 1.4;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}

.library-header {
   display: flex;
   align-items: center;
   gap: 20px;
   padding: 20px 50px;
}

.library-file-path {
   font-size: 1rem;
   font-weight: 600;
   color: #838686;
   cursor: pointer;
}

.library-title {
   font-size: 2rem;
   font-weight: bold;
   color: #ffffff;
}

.library-folder-managment-container {
   display: flex;
   margin-bottom: 10px;
}

.button-add-folder {
   background-color: #313131;
   color: #ffffff;
   border: none;
   padding: 10px 20px;
   margin: 30px 50px 0 50px;
   cursor: pointer;
   border-radius: 5px;
   font-size: 0.9rem;
}

.button-add-folder:hover {
   background-color: #2c2c2c;
}

.button-back-folder:hover {
   background-color: #2c2c2c;
}

.folder-list {
   list-style: none;
   margin: 0;
   display: flex;
   flex-direction: column;
   max-height: 600px;
   overflow-y: auto;
   scrollbar-width: thin;
   scrollbar-color: #202020;
}

.folder-item {
   font-size: 1rem;
   color: white;
   background-color: #313131;
   padding: 12px 15px;
   margin: 10px 0;
   border-radius: 5px;
   cursor: pointer;
   width: 40%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.folder-item:hover {
   background-color: #2c2c2c;
}

.delete-folder-button {
   display: flex;
   align-items: center;
   justify-content: center;
   background: none;
   border: none;
   color: #919191;
   cursor: pointer;
   font-size: 0.9rem;
   margin-left: auto;
   padding: 5px;
}

.folder-item:hover .delete-folder-button {
   display: flex;
}

.dialog-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 99999;
}

.dialog {
   background: #202020;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
   width: 300px;
   color: #fff;
   z-index: 99999;
}

.dialog h2 {
   margin: 0 0 20px 0;
   font-size: 1.2rem;
   color: #fff;
}

.dialog input {
   width: 100%;
   padding: 12px 15px;
   margin-bottom: 20px;
   background-color: #3c3c3e;
   border: 1px solid #616161;
   border-radius: 7px;
   color: #fff;
   font-size: 0.9rem;
   box-sizing: border-box;
}

.dialog input:focus {
   border-color: #7ab8ff;
   outline: none;
}

.dialog input::placeholder {
   color: #aaa;
}

.dialog-buttons {
   display: flex;
   justify-content: flex-end;
   gap: 10px;
}

.dialog-buttons button {
   padding: 12px 20px;
   border: none;
   border-radius: 7px;
   cursor: pointer;
   font-size: 0.9rem;
}

.dialog-buttons button:first-child {
   background-color: #727272;
   color: #ffffff;
}

.dialog-buttons button:first-child:hover {
   background-color: #5a5a5a;
}

.dialog-buttons button:last-child {
   background-color: #7ab8ff;
   color: #ffffff;
}

.dialog-buttons button:last-child:hover {
   background-color: #5a9ae6;
}

.dialog p {
   margin: 0 0 20px 0;
   line-height: 1.4;
}

.dialog .delete-button {
   background-color: #ff4646;
   color: #ffffff;
}

.dialog .delete-button:hover {
   background-color: #e63e3e;
}

/* -------------------  NOTES ------------------- */

.note-container {
   display: flex;
   flex-direction: column;
   padding: 120px 50px 0 350px;
   background-color: #181818;
   color: #ffffff;
   min-height: 80vh;
   overflow: auto;
}

.note-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 15px auto 30px auto;
   width: 40%;
}

.button-back-library {
   background-color: #313131;
   border: 1px solid #414141;
   color: #ffffff;
   padding: 15px 15px;
   margin-right: 20px;
   cursor: pointer;
   border-radius: 7px;
   font-size: 0.9rem;
   text-align: center;
}

.button-back-library:hover {
   background-color: #2c2c2c;
}

.note-title-input {
   background-color: #292929;
   color: #ffffff;
   padding: 15px;
   border: 1px solid #414141;
   border-radius: 7px;
   font-size: 0.9rem;
   outline: none;
   width: 80%;
}

.note-title-input:focus {
   border-color: #7ab8ff;
}

.button-save-note,
.button-delete-note {
   color: #ffffff;
   border: none;
   padding: 16px 20px;
   margin-left: 20px;
   cursor: pointer;
   border-radius: 7px;
   font-size: 0.9rem;
   text-align: center;
}

.button-save-note {
   background-color: #7ab8ff;
}

.button-delete-note {
   background-color: #ff6363;
}

.button-delete-note:hover {
   background-color: #e63e3e;
}

.button-save-note:hover:not(:disabled) {
   background-color: #5a9ae6;
}

.button-save-note:disabled {
   background-color: #4a4a4a;
   cursor: not-allowed;
   opacity: 0.7;
}

/* Settings Dialog Styles */
.dialog-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 99999;
}

.dialog {
   background: #202020;
   padding: 20px;
   border-radius: 8px;
   width: 100%;
   max-width: 400px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dialog h2 {
   margin-top: 0;
   margin-bottom: 20px;
   color: #fff;
}

.form-group {
   margin-bottom: 15px;
}

.form-group label {
   display: block;
   margin-bottom: 5px;
   color: #aaa;
}

.form-group input {
   width: 100%;
   padding: 8px;
   background-color: #3c3c3e;
   border: 1px solid #616161;
   border-radius: 4px;
   font-size: 14px;
   color: #fff;
}

.form-group input:focus {
   border-color: #7ab8ff;
   outline: none;
}

.dialog-buttons {
   display: flex;
   justify-content: flex-end;
   gap: 10px;
   margin-top: 20px;
}

.dialog-buttons button {
   padding: 8px 16px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 14px;
}

.dialog-buttons button[type="submit"] {
   background-color: #7ab8ff;
   color: white;
}

.dialog-buttons button[type="submit"]:hover {
   background-color: #5a9ae6;
}

.dialog-buttons button[type="button"] {
   background-color: #727272;
   color: white;
}

.dialog-buttons button[type="button"]:hover {
   background-color: #5a5a5a;
}

.error-message {
   color: #ff6b6b;
   margin-top: 10px;
   font-size: 14px;
}

.note-content {
   display: flex;
   gap: 20px;
   height: 730px;
}

.markdown-editor,
.markdown-preview {
   width: 100%;
   padding: 15px;
   border: 1px solid #414141;
   border-radius: 7px;
   background-color: #292929;
   color: #ffffff;
   overflow-y: auto;
   resize: none;
   margin: 10px auto 20px auto;
}

.markdown-editor {
   font-family: monospace;
   outline: none;
   font-size: 0.9rem;
}

.markdown-editor:focus {
   border-color: #7ab8ff;
}

.markdown-preview {
   font-size: 0.9rem;

   background-color: #202020;
   border-left: 3px solid #7ab8ff;
   word-wrap: break-word;
}

/* -------------------  MAIN PAGE ------------------- */
.main-page {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.content {
   margin-left: 300px;
   padding-top: 60px;
   background-color: #181818;
}
